* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

label,
input,
textarea {
  display: block;
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 0.2rem 0.4rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  font: inherit;
}

input:focus,
textarea:focus {
  outline: none;
  background: #fff5f9;
}

button {
  padding: 0.75rem 1rem;
  border: 1px solid #ff0062;
  border-radius: 1rem;
  background: #ff0062;
  color: white;
  font: inherit;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #a80041;
}

.projects {
  margin: 1rem;
  border: 1px solid #ff0062;
}

.projects header {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff0062;
}

#finished-projects {
  border-color: #0044ff;
}

#finished-projects header {
  background: #0044ff;
}

.projects h2 {
  margin: 0;
  color: white;
}

.projects ul {
  margin: 0;
  padding: 1rem;
  list-style: none;
}

.projects li {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
}

.projects li h2 {
  margin: 0.5rem 0;
  color: #ff0062;
}

#finished-projects li h2 {
  color: #0044ff;
}

.projects li h3 {
  font-size: 1rem;
  color: #575757;
}

.project li p {
  margin: 0;
}

.droppable {
  background: #ffe3ee;
}

#finished-projects .droppable {
  background: #d6e1ff;
}

#user-input {
  width: 50%;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ff0062;
  border-radius: 1rem;
  background: #f7f7f7;
}
